{% extends 'base.html' %}
{% block title %}about{% endblock title %}
{% block body %}

<div class="p-4 p-md-5 mb-4 text-white  bg-white">
    <div class="col-md-6 px-0">
      <h1 class="display-4 fst-italic" style="color:red;">It's online learning .......</h1>
      <p class="lead my-3"style="color:black;">Find It Online Learning. Unlimited Access. Always Facts. Privacy Friendly. The Best Resources. Results and Answers. Types: Best Results, Explore Now, New Sources, Best in Search.</p>
     
    </div>
    
</div>
<div class="  bg-dark" style="height:10px;">
  </div>
  <div class="container my-2">
<div class="  bg-white" style="height:300px;">
    <h1 class="my-4 text-center"style="color:red;" >About e-learn-</h1>
  
  <p style=" text-align: center;color:black;" >E-learning is a type of learning conducted digitally via electronic media, typically involving the internet. It can be accessed via most electronic devices including a computer, laptop, tablet or smartphone, making it a versatile and easy way for students to learn wherever they are.</p>
  <p style="text-align: center;color:black;">The importance of E-Learning education is that it is quick and does not require much cost. The long training period, infrastructure, stationery, travel expenses, etc. is reduced. Effectiveness of the transferred or imparted knowledge and learning is high and powerful. It makes information easy to grasp and absorb.</p>
  <P style="text-align: center;color:black;">E-learning is still quite new to the Bangladeshi educational scene but with more and more people connected to the internet, it is quickly becoming a crucial part of learning. However, the introduction of e-learning would mean many would have to change their conventional ways of learning.</P>
  
  </div>
</div>
<div class="  bg-dark my-5" style="height:10px;">
</div>
<div class="container my-2">
<h3>Benefits of E-learn-</h3>
<p> E-Learning has completely transformed the way in which learning is imparted to students. Unlike traditional chalk and board method of teaching, eLearning makes learning simpler, easier, and more effective. Here are 9 features of eLearning that make it advantageous to students.:</p>
<ul>
  <li>Online Learning Accommodates Everyone’s Needs</li>
  <li>Lectures Can Be Taken Any Number Of Times</li>
  <li>Offers Access To Updated Content</li>
  <li> Quick Delivery Of Lessons</li>
  <li>Scalability</li>
  <li>Third list item to close it out</li>
  <li>Reduced Costs</li>
  <li>Effectiveness</li>
  <li>Less Impact On Environment</li>
</ul>
</div>
<div class="  bg-dark my-5" style="height:10px;">
</div>

{% comment %} <div class="container-fluid px-0 mb-3">
  <img src="/static/img/Contact4.jpg" style="height: 300px;width: 1600px" alt="...">
</div>
<div class="container">
<h1 class="text-center">Contact Us</h1>
<form method='post' action='/contact/'>  
{% csrf_token %}
<div class="mb-3">
  <label for="name" class="form-label">Name</label>
  <input type="text" class="form-control" id="name"name="name" placeholder="Enter Your Name">
</div>
<div class="mb-3">
  <label for="email" class="form-label">Email </label>
  <input type="email" class="form-control" id="email" name="email" placeholder="Enter Your Email">
</div>
<div class="mb-3">
  <label for="phone" class="form-label">Phone Number</label>
  <input type="phone" class="form-control" id="phone"name="phone" placeholder="Enter Your  number">
</div>
<div class="mb-3">
  <label for="problem" class="form-label">Write your problem here</label>
  <textarea class="form-control" id="problem" name="problem" rows="3"></textarea>
</div>
<button class="btn btn-primary" type="submit">Submit</button>  
</form>
</div> {% endcomment %}
{% endblock body %}