{% extends 'base.html' %}
{% block title %}lecturer{% endblock title %}
{% block body %}
<div class="container ">
  <div class="bd-content ps-lg-4 my-5">
        

    <h2 id="about">Lecturer Information<a class="anchorjs-link " aria-label="Anchor" data-anchorjs-icon="#" href="#about" style="padding-left: 0.375em;"></a></h2>
<p>A <strong>teacher</strong> r is a person with commendable skills for helping others learn, guiding, and helping solve a problem. Teachers should have excellent communication skills so that the students can understand everything and learn with ease. Teachers have several credentials as per their designation or where they are teaching.So teaching is a noble profession.<br><br><br><br><strong><h2>Here is the information of our teacher's-<h2></strong></p>
    </div>
  </div>
  <div class="container my-5 px-0" style="height:600px">
   
    <div class="row mb-2">
      <div class="col-md-6">
        <div class="row g-0 border rounded overflow-hidden flex-md-row mb-4 shadow-sm h-md-250 position-relative">
          <div class="col-auto d-none d-lg-block">
            <img src="/static/img/ayman.jpg"style="height:300px;" class="d-block w-100" alt="...">
  
          </div>
          <div class="col p-4 d-flex flex-column position-static">
            <strong class="d-inline-block mb-2 text-primary">Ayman Sadiq</strong>
            <h3 class="mb-0">Graduated from <strong>Dhaka University</strong></h3>
            <div class="mb-1 text-muted">Passed year 2012</div>
            <p class="card-text mb-auto">Ayman Sadiq is the founder and CEO of 10 Minute School. Ayman received The Queen's Leader Award 2018 for creating access to quality education for millions of students in Bangladesh. He is also a One Young World ambassador and he recently got enlisted in the prestigious Forbe's 30 Under 30 list.</p>
            <a href="https://aymansadiq.com/me/#:~:text=Ayman%20Sadiq%20is%20the%20founder%20%26%20CEO%20of%2010%20Minute%20School.&text=Ayman%20received%20The%20Queen's%20Leader,Forbe's%2030%20Under%2030%20list." class="stretched-link">Continue reading</a>
          </div>
          
        </div>
      </div>
      <div class="col-md-6">
        <div class="row g-0 border rounded overflow-hidden flex-md-row mb-4 shadow-sm h-md-250 position-relative">
          <div class="col-auto d-none d-lg-block">
            <img src="/static/img/mun.jpg"style="height:300px;" class="d-block w-100" alt="...">
  
          </div>
          <div class="col p-4 d-flex flex-column position-static">
            <strong class="d-inline-block mb-2 text-success">Munzareen Shahid</strong>
            <h3 class="mb-0">Graduated from <strong>Dhaka University</strong></h3>
            <div class="mb-1 text-muted">Passed year 2018</div>
            <p class="mb-auto">Munzereen Shahid is an young Bangladeshi Talented woman who was born in October 19, 1996 in Chittagong, Bangladesh   . She is an English teacher at 10 Minute School, Bangladesh’s largest online educational platform. Her teaching video lectures have already reached 23 million students across the country. She is also the Chief Executive Officer of the Human Resources Department at 10 Minute School. 
            </p>
            <a href="https://wupedia.com/munzereen-shahid/" class="stretched-link">Continue reading</a>
          </div>
          
        </div>
      </div>
    </div>
    </div>
{% endblock body %}