{% extends 'base.html' %}
{% block title %}login{% endblock title %}

{% block body %} 

<section class="pb-4">
  <div class="bg-white border rounded-5">
  

  <section class="w-100 p-4 p-xl-5" style="background-color: #eee; border-radius: .5rem .5rem 0 0;">
    <style>
      .gradient-custom-2 {
        /* fallback for old browsers */
        background: #fccb90;

        /* Chrome 10-25, Safari 5.1-6 */
        background: -webkit-linear-gradient(to right, #ee7724, #d8363a, #dd3675, #b44593);

        /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
        background: linear-gradient(to right, #ee7724, #d8363a, #dd3675, #b44593);
      }

      @media (min-width: 768px) {
        .gradient-form {
          height: 100vh !important;
        }
      }
      @media (min-width: 769px) {
        .gradient-custom-2 {
          border-top-right-radius: .3rem; 
          border-bottom-right-radius: .3rem;
        }
      }
    </style>
    <div class="row d-flex justify-content-center">
      <div class="col-12">
        <div class="card rounded-3 text-black">
          <div class="row g-0">
            <div class="col-lg-6">
              <div class="card-body p-md-5 mx-md-4">

                <div class="text-center">
                  <img src="/static/img/login.webp" style="width: 185px;" alt="logo">
                  <h4 class="mt-1 mb-5 pb-1">We are The E-learn Team</h4>
                </div>
                
                <form  method="POST" >
                  {% csrf_token %}
                  <p>Please login to your account</p>

                  <div class="form-outline mb-4">
                    <label class="form-label" for="form2Example11" style="margin-left: 0px;">Username</label>
                    <br>
                    <input type="text" id="Username" name="username"class="form-control" placeholder="Phone number or email address">
                    
                  <div class="form-notch"><div class="form-notch-leading" style="width: 9px;"></div><div class="form-notch-middle" style="width: 66.4px;"></div><div class="form-notch-trailing"></div></div></div>

                  <div class="form-outline mb-4">
                    <input type="password" id="password"name="password"class="form-control">
                    <label class="form-label" for="form2Example22" style="margin-left: 0px;">Password</label>
                  <div class="form-notch"><div class="form-notch-leading" style="width: 9px;"></div><div class="form-notch-middle" style="width: 64.8px;"></div><div class="form-notch-trailing"></div></div></div>

                  <div class="text-center pt-1 mb-5 pb-1">
                    <button class="btn btn-primary btn-block fa-lg " type="submit">Log in</button>
                    <a class="text-muted" href="#!">Forgot password?</a>
                  </div>

                  <div class="d-flex align-items-center justify-content-center pb-4">
                    <p class="mb-0 me-2">Don't have an account?</p>
                    <button type="button" class="btn btn-outline-danger"><a  href="/registration">Create new</a></button>
                  </div>

                </form>

              </div>
            </div>
           
              <div class="col-md-10 col-lg-6 col-xl-6 d-flex align-items-center order-1 order-lg-2">

                <img src="/static/img/login2.jpg" class="img-fluid" alt="Sample image">

              </div>
              {% comment %} {% for message in messages %}
                  <p id="messages">{{message}}</p>
              {{% endfor %}} {% endcomment %}
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  
  
  
  
  </div>
</section>
{% endblock body %}