{% extends 'base.html' %}
{% block title %}
Sign up
{% endblock title %}

{% block body %}
{% if messages %}
  {% for message in messages %}
  <div class="alert alert-{{ message.tags }}alert-dismissible fade show my-0" role="alert">
  <strong>{{ message }}</strong>
  <button type="button"class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
  </div> 
  {% endfor %}
{% endif %}

<section class="pb-4">
    <div class="bg-white border rounded-5">
     
          <section class="p-5 w-100" style="background-color: #eee; border-radius: .5rem .5rem 0 0;">
      <div class="row">
        <div class="col-12">
          <div class="card text-black" style="border-radius: 25px;">
            <div class="card-body p-md-5">
              <div class="row justify-content-center">
                <div class="col-md-10 col-lg-6 col-xl-5 order-2 order-lg-1">
  
                  <p class="text-center h1 fw-bold mb-5 mt-4">Sign up</p>
  
                  <form method="POST">
                    {% csrf_token %}
  
                    <div class="d-flex flex-row align-items-center mb-4">
                      <i class="fas fa-user fa-lg me-3 fa-fw"></i>
                      <div class="form-outline flex-fill mb-0">
                        <label class="form-label" for="form3Example1c" style="margin-left: 0px;">User Name</label>
                        <br>
                        {{form.username}}
                        
                      <div class="form-notch"><div class="form-notch-leading" style="width: 9px;"></div><div class="form-notch-middle" style="width: 71.2px;"></div><div class="form-notch-trailing"></div></div></div>
                    </div>
                    
  
                    <div class="d-flex flex-row align-items-center mb-4">
                      <i class="fas fa-envelope fa-lg me-3 fa-fw"></i>
                      <div class="form-outline flex-fill mb-0">
                        <label class="form-label" for="form3Example3c" style="margin-left: 0px;">Your Email</label>
                        <br>
                        {{form.email}}
                        
                      <div class="form-notch"><div class="form-notch-leading" style="width: 9px;"></div><div class="form-notch-middle" style="width: 68.8px;"></div><div class="form-notch-trailing"></div></div></div>
                    </div>
                    
                    <div>
  
                    </div>
                    <div>
                      
                    </div>
  
                    <div class="d-flex flex-row align-items-center mb-4">
                      <i class="fas fa-lock fa-lg me-3 fa-fw"></i>
                      <div class="form-outline flex-fill mb-0">
                        <label class="form-label" for="form3Example4c" style="margin-left: 0px;">Password</label>
                        <br>
                        {{form.password1}}
                        
                      <div class="form-notch"><div class="form-notch-leading" style="width: 9px;"></div><div class="form-notch-middle" style="width: 64.8px;"></div><div class="form-notch-trailing"></div></div></div>
                    </div>
  
                    <div class="d-flex flex-row align-items-center mb-4">
                      <i class="fas fa-key fa-lg me-3 fa-fw"></i>
                      <div class="form-outline flex-fill mb-0">
                        <label class="form-label" for="form3Example4cd" style="margin-left: 0px;">Repeat your password</label>
                        <br>
                        {{form.password2}}
                        
                      <div class="form-notch"><div class="form-notch-leading" style="width: 9px;"></div><div class="form-notch-middle" style="width: 134.4px;"></div><div class="form-notch-trailing"></div></div></div>
                    </div>
                    
  
                    
  
                    <div class="d-flex justify-content-center mx-4 mb-3 mb-lg-4">
                      <button type="submit" class="btn btn-primary btn-lg"style="position: absolute;
                      left: 70px;
                      top: 500px;">Register</button>
                    </div>
                    <br>

                    <div class="d-flex align-items-center justify-content-center pb-4">
                        <p class="mb-0 me-2">Already have an account?</p>
                        <button type="button" class="btn btn-outline-danger"><a  href="/login/">Login Here</a></button>
                      </div>
  
                  </form>
  
                </div>
               
                   
                
                <div class="col-md-10 col-lg-6 col-xl-7 d-flex align-items-center order-1 order-lg-2">
  
                  <img src="https://mdbootstrap.com/img/Photos/new-templates/bootstrap-registration/draw1.png" class="img-fluid" alt="Sample image">
  
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
    
    
    
    
    </div>
  </section>





{% comment %} <h3>
    Sign Up
</h3>
    <form method="post">
        {% csrf_token %}
        {{form.username.label}}
        {{form.username}}

        {{form.firstname.label}}
        {{form.firstname}}

        {{form.lastname.label}}
        {{form.lastname}}

        {{form.email.label}}
        {{form.email}}

        {{form.password1.label}}
        {{form.password1}}

        {{form.password2.label}}
        {{form.password2}}

        <input type="submit" name="create user">
    </form> {% endcomment %}
{% endblock body %}